.navbar{
    background-color:#FF7D49!important;
}

a:link{
    color:#390099;
}

.row.nav{
    width: 100%
}
.btn{
    color:#495057;
    border-color: #FFBd00;
    background-color: white;
}
.btn:hover{
    background-color: #FFBd00;
    color:white;
    border-color:#FFBd00;
}
.btn:active{
    background-color: #FFBd00!important;
}
.dropdown-menu{
    right:0;
    left: unset;
}
.descripcion-comunidad{
    height: 18vh;
    padding-bottom: 85px;
    overflow: auto;
}
.iconos {
    width: 10vh;
    height: 10vh;
}
h1, h2, h3, h4{
    font-family: 'Exo', sans-serif;
}
.form-control, .custom-select, .custom-file{
    font-family: 'Saira Semi Condensed', sans-serif;
}
.reglas{
    
    margin-bottom: 10px;
    height: auto   
}

.jumbotron{
    height: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    font-size: 13px;
    background-color:white;
    color: black;
    text-align: center;
 }