body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FF7D49;
}

.flotante{
    border: 1px transparent black;
    padding: 10px ;
    padding-left: 0px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    font-family: sans-serif;
}

.encabezado{
    padding-left: 15px;
    display: inline-block;
}
.titulo{
    margin-left:20px;
    margin-bottom:10px;
    margin-top:10px;
    font-size: 25px;

}
.formularios{
    color: black;
    margin-bottom:10px;
    margin-top:0px;
    margin-left: 20px;
    margin-right:210px;
    display: inline-block;
}

.imagen{
    padding: 10px;
    margin-left: 20px;
}

/*boton*/
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #FF7D49;
    border: none;
    color: rgb(41, 37, 37);
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 240px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button:hover span {
    padding-right: 25px;
  }
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.button:hover{
    background-color: #FFBd00;
    border-color:#FFBd00;}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    font-size: 13px;
    background-color:white;
    color: black;
    text-align: center;
 }
